@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden; /* Allow vertical scrolling if necessary */
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: move-background 350s linear infinite;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@keyframes move-background {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

h1 {
  font-size: 6rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  background-color: rgba(60, 58, 58, 0.3);
  color: #572a2a;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(63, 60, 60, 0.7);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.app .top {
  margin: 1rem auto;
  flex: 1;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
  /* float: right; */
}

.bold {
  font-weight: 500;
}

.hourly-container {
  overflow-x: auto;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 600px) {
  .hourly-container {
    margin-top: 0;
    padding: 8px;
  }

  .app .top {
    margin: 0 auto;
  }
}
.hourly-box {
  min-width: 100px;
  max-width: 120px;
  background-color: rgba(68, 68, 68, 0.4);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(77, 75, 75);
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex-shrink: 0;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp h1 {
  font-size: 3rem;
  margin: 0;
}

.temp p {
  font-size: 1.5rem;
  margin: 0;
}

.hourly-p {
  font-size: 1rem;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.35);
  width: 50%;
}

.bottom-p {
  font-size: 1.4rem;
  font-weight: 100;
  color: rgb(223, 208, 208);
}

@media (max-width: 600px) {
  .app .bottom {
    width: 290px;
    margin-bottom: 30px;
    padding: 5px 5px;
  }

  .bottom-p {
    font-size: 1rem;
    font-weight: 100;
  }
}
