@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden; /* Prevent scroll */
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: move-background 350s linear infinite;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

@keyframes move-background {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

h1 {
  font-size: 4vw; /* Responsive heading for all screens */
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  height: 100vh;
  background-color: rgba(60, 58, 58, 0.3);
  color: #572a2a;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(63, 60, 60, 0.7);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 1rem;
}

.app .top {
  margin: 1rem 0;
  text-align: center;
}

.bold {
  font-weight: 500;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp h1 {
  font-size: 10vw; /* Adjust to scale with screen size */
  margin: 0;
}

.temp p {
  font-size: 4vw; /* Adjust description size */
  margin: 0;
}

/* Scrollable hourly container */
.hourly-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-top: 10px;
  padding: 10px;
  flex-wrap: nowrap; /* Keep horizontal layout */
  width: 100%;
}

.hourly-box {
  min-width: 80px;
  max-width: 100px;
  background-color: rgba(68, 68, 68, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex-shrink: 0;
  font-size: 3vw; /* Scales with screen size */
}

.hourly-p {
  font-size: 1rem;
}

/* Bottom container for extra info */
.app .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 12px;
  /* margin-bottom: 30px; */
  background-color: rgba(255, 255, 255, 0.35);
}

.bottom-p {
  font-size: 2.5vw; /* Scales with screen size */
  font-weight: 100;
  color: rgb(223, 208, 208);
}

@media (max-width: 600px) {
  /* Adjust bottom section for smaller screens */
  .app .bottom {
    margin-bottom: 100px;
    padding: 0.5rem;
  }

  .bottom-p {
    font-size: 3vw; /* Further reduce text size for very small screens */
  }
}
